$page-width: 750px;
$page-padding-y: 15px;

.page-container {
  width: 100%;
  max-width: $page-width;
  padding-left: $page-padding-y;
  padding-right: $page-padding-y;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
