body {
  margin: 0;
  background-color: #fcfafb;
  font-family: 'Work Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.mb-2 {
  margin-bottom: 2rem;
}

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans Regular'), local('Work-Sans-Regular'),
    url('./assets/fonts/WorkSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/WorkSans-Regular.woff') format('woff'),
    url('./assets/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans Medium'), local('Work-Sans-Medium'),
    url('./assets/fonts/WorkSans-Medium.woff2') format('woff2'),
    url('./assets/fonts/WorkSans-Medium.woff') format('woff'),
    url('./assets/fonts/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans SemiBold'), local('Work-Sans-SemiBold'),
    url('./assets/fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/WorkSans-SemiBold.woff') format('woff'),
    url('./assets/fonts/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: local('IBM Plex Serif Medium'), local('IBM-Plex-Serif-Medium'),
    url('./assets/fonts/IBMPlexSerif-Medium.woff2') format('woff2'),
    url('./assets/fonts/IBMPlexSerif-Medium.woff') format('woff'),
    url('./assets/fonts/IBMPlexSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
